*.egg-info/
*.ipynb_checkpoints/
dist/
build/
*.py[cod]
*.egg-info/

.vs_code/
js/lib/block/*

node_modules/

static/

.DS_Store

*.old*

**/package-lock.json

nb/*.html
nb/*.sh
nb/*.js

Example/bounding_boxes.csv

.idea
innotater-private

