*.egg-info/
*.ipynb_checkpoints/
dist/
build/
*.py[cod]
*.egg-info/

.vs_code/
js/lib/block/*

node_modules/

static/

.DS_Store

_build

*.old*

**/package-lock.json

nb/*.html
nb/*.sh
nb/*.js

.idea
innotater-private
nodb-innotater-private
notebookapprun_for_notebook_debug.py

