# This requirements.txt is only really for binder
ipywidgets==7.5.0
widgetsnbextension==3.5.0
notebook==6.4.1
numpy==1.16.2
pandas==0.24.2
opencv-python==4.1.0.25
pillow==8.3.2
matplotlib==3.1.1
jupyter_innotater==0.2.2
